<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="sql" value="Server=tcp:atmsqlserver.database.windows.net,1433;Initial Catalog=testdatabase;Persist Security Info=False;User ID=azuresqladmin;Password=123321abC!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </appSettings>
    <variables>

    </variables>
</configuration>